.nav-bar {
  background: repeating-radial-gradient(
    circle,
    #8fb6bf,
    #d96e30 13px,
    #a62f24 12px,
    #a62f24 10px
  );
  border: 1.5px solid #c90314;
  box-shadow: 2px 2px 2px 1px #a5505c;
  display: flex;
  flex-direction: column;
  height: 24vh;
  width: 100%;
  margin-top: 0%;
  padding: 1rem;
  text-align: center;
}

.home-link,
.favorites-link {
  border: 0.5px solid #ffe668;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0.25px rgb(85, 144, 216);
  font-family: "Bungee", cursive;
  font-size: 1.5rem;
  padding: 0.4rem;
  text-decoration: none;
  text-shadow: 1px 1px 5px #ae8b8b;
  transition: 0.5s;
}

.home-link:hover {
  background-color: #bf4b21;
}

.link-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -10%;
  margin-right: 3%;
  height: 100%;
  padding: 1rem;
}

.text {
  background-color: #8fb6bf;
  color: #d9d384;
}

.nav-title {
  color: #d9d384;
  font-family: "Bevan", cursive;
  font-size: 6rem;
  margin-top: -2%;
  text-shadow: 5px 5px 10px #fc3f2e;
}

@media (max-width: 280px) {
  .nav-title {
    font-size: 1rem;
  }

  .link-box {
    margin-right: 8%;
  }
}

@media (max-width: 375px) {
  .nav-title {
    font-size: 3rem;
  }

  .link-box {
    justify-content: space-evenly;
  }
}

@media (max-width: 667px) {
  .nav-title {
    font-size: 2rem;
  }

  .link-box {
    padding: 4rem;
  }
}