.display-cards {
  align-items: flex-start;
  background-color: #d9d384;
  box-sizing: border-box;
  border: .6rem solid #BF4B21;
  border-radius: 2rem;
  color: #BF4B21;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: .9rem;
  height: auto;
  justify-content: space-evenly; 
  padding: .75rem;
  width: 35rem;
}

img {
    width: 20rem;
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.update-favs {
    color:#A62F24;
    font-size: 0.rem;
    font-weight: 550;
    padding-bottom: 0.25rem;
}



.fav-btn {
  align-items: center;
  background-color: #d9d384;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Bevan', cursive;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fav-btn:after {
  background-color: #BF4B21;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.fav-btn:hover:after {
  transform: translate(0, 0);
}

.fav-btn:active {
  background-color: #BF4B21;
  outline: 0;
}

.fav-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .fav-btn {
    padding: 0 40px;
  }
}