.display-cards {
  background-color: #d9d384;
  box-shadow: 2px 4px 4px #a62f24;
  border: 0.6rem solid #bf4b21;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #bf4b21;
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  padding: 1.5rem;
  text-align: center;
}

.display-cards:hover {
  background-color: #a62f24;
  color: #d9d384;
}

.img-container {
  border-radius: 2rem;
  padding: 1rem;
}

.artist-pic {
  border-radius: 2rem;
  border: 5px solid #bf4b21;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.update-favs {
  color: #8fb6bf;
}

.fav-btn {
  background-color: #8fb6bf;
  border: 0.5px solid #ffe668;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0.25px rgb(85, 144, 216);
  color: #d9d384;
  font-family: "Bungee", cursive;
  font-size: 1.5rem;
  padding: 0.35rem;
  position: static;
  text-decoration: none;
  text-shadow: 1px 1px 5px #ae8b8b;
  transition: 0.5s;
}

.fav-btn:hover {
  background-color: #bf4b21;
}

.ticket-links {
  color: #8fb6bf;
  text-shadow: 2px 2px 2px 6px #d96e30;
  padding: 1rem;
}

.fav-status {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
