.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  font-family: "Bevan", cursive;
  padding: 2rem;
}

@media only screen and (max-width : 667px) {
  .events-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
