.events-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bevan', cursive;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin-right: 30%;
    padding: 2rem;
}